---

---

<section
  id="building"
  class="py-relative flex min-h-screen flex-col items-center justify-center overflow-hidden px-4 sm:px-6 lg:px-8"
>
  <div class="relative z-10 mx-auto max-w-4xl text-center">
    <div
      class="mb-8 inline-flex animate-bounce items-center gap-2 rounded-full px-4 py-2 backdrop-blur-sm"
    >
      <div
        class="bg-primary-700 dark:bg-primary-300 h-2 w-2 animate-pulse rounded-full"
      >
      </div>
      <span class="text-primary-900 dark:text-primary-300 text-sm font-medium">
        PAGINA EN CONSTRUCCIÓN
      </span>
    </div>
  </div>
  <div class="flex w-96">
    <div class="flex flex-1 flex-col gap-2.5">
      <div class="flex items-center justify-between">
        <span class="font-medium text-gray-950 dark:text-white">Progreso</span>
        <span class="font-semibold text-gray-950 dark:text-white">73%</span>
      </div>
      <div class="h-2.5 w-full overflow-hidden bg-gray-200 dark:bg-gray-700">
        <div
          class="h-2.5 w-[73%] rounded-full bg-linear-to-r from-emerald-500 to-sky-400 ring-1 ring-gray-950/10 ring-inset dark:from-emerald-400 dark:ring-white/10"
        >
        </div>
      </div>
    </div>
  </div>
</section>
