---
import { BackgroundRippleEffect } from "../ui/background-ripple-effect";
import { Vortex } from "../ui/vortex";
import HeroContent from "./HeroContent.astro";
---

<section
  id="hero"
  class="relative mx-auto flex min-h-screen flex-col items-center justify-center overflow-hidden pt-28 pb-20 md:pt-32 md:pb-24"
>
  <BackgroundRippleEffect client:load />
  <HeroContent />
</section>
