---
import { BackgroundRippleEffect } from "../ui/background-ripple-effect";
import { Vortex } from "../ui/vortex";
import HeroContent from "./HeroContent.astro";
---

<section
  id="hero"
  class="relative mx-auto flex min-h-screen flex-col items-center justify-center overflow-hidden px-4 py-20 sm:px-6 md:py-24 lg:px-8"
>
  <BackgroundRippleEffect client:load />
  <HeroContent />
</section>
