<section id="portfolio" class="py-10">
  <div
    class="dark:text-secondary-200 container mx-auto max-w-7xl px-6 py-10 text-slate-700"
  >
    <div class="flex justify-between">
      <div class="w-1/2">
        <h1
          class="font-title text-start text-[clamp(1.5rem,3.5vw,4rem)] leading-[1.1] [word-break:auto-phrase]"
        >
          <div class="font-thin [&:first-line]:font-black">
            Nuestros Proyectos <br />Demuestran nuestra experiencia
          </div>
        </h1>
      </div>
      <div class="w-1/2">Parte 2</div>
    </div>
  </div>
</section>
