---
// Sección "Trayectoria". Pendiente de contenido: el usuario pasará el ejemplo
// a implementar. Por ahora solo el contenedor e id de ancla.
---

<section
  id="trajectory"
  class="relative py-24 sm:py-32"
>
  <div class="mx-auto max-w-7xl px-6">
    {/* TODO: implementar la sección de trayectoria */}
  </div>
</section>