---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "nValue: Desarrollo de software empresarial personalizado para empresas y entidades gubernamentales." 
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />    

    <meta name="robots" content="index, follow" />
    <meta property="og:url" content="https://nvalue.com.co/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="nValue: Desarrollo de software empresarial personalizado para empresas y entidades gubernamentales."
    />
    <meta
      property="og:description"
      content="Empresa de desarrollo de software a la medida, consultorias, procesamiento y almacenamiento de datos."
    />
    <meta property="og:image" content="/assets/images/op.png" />
    <!--Favicons-->
    <link
      rel="icon"
      type="image/png"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png"
    />
    <link rel="icon" type="icon" href="/assets/favicons/favicon.ico" />
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 antialiased">
    <slot />
  </body>
</html>